
* {
    background: #f1e4b2;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
section {
    width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: #f1e4b2;
    border: 2px solid black;
}
h2 {
    text-align: center;
}
ul {
    list-style: none;
}
ul li {
    list-style: none;
}
.list ul {
    padding: 0;
}

li {
    margin-bottom: 20px;
}
li:last-child {
    margin-bottom: 0;
}
input:last-child {
    margin-bottom: 0;
}

.add input {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    margin-bottom: 10px;
}

body > section.list > ul > li > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body > section.list > ul > li > ul li {
    width: 120px;
    height: 50px;
}

body > section.list > ul > li > ul > li:nth-child(1), body > section.list > ul > li > ul > li:nth-child(2) {
    padding: 25px 0 0 0;
}

body > section.list > ul > li > ul > li:nth-child(3) {
    margin-bottom: 0;
    margin-right: 10px;
}